<%- include('partials/header') %>

<div class="pokedex">
  <h1 class="head">Pokédex</h1>

  <% if(pokemonList && pokemonList.length > 0 ) { %>
    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <% pokemonList.forEach(pokemon => { %>
            <div class="swiper-slide">
              <div class="pokemon-card">
                <a href="/pokemon?name=<%=pokemon.name %>">
                  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.url.split('/')[6] %>.png"
                       alt="<%= pokemon.name %>">
                  <h3><%= pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) %></h3>
                </a>
              </div>
            </div>
          <% }) %>
        </div>
      
        <!-- Navigation buttons -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      
  <% } else { %>
    <p>No Pokémon found.</p>
  <% } %>

  <a href="/" class="btn back-btn">Back to Search</a>
</div>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    const swiper = new Swiper('.mySwiper', {
      loop: true,
      centeredSlides: true,
      spaceBetween: 3,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      slidesPerView: 1, // default for smallest screens
      breakpoints: {
        480: {
          slidesPerView: 2,
        },
        768: {
          slidesPerView: 3,
        },
        1024: {
          slidesPerView: 4, // max 4 on large screens
        }
      }
    });
  </script>
  


<%- include('partials/footer') %>
